<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <test verbose="2" preserve-order="true" name="D:/Automation Practice/SeleniumConcepts" parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <parameter name="runMode" value="local"/>
        <!--<groups>
            <run>
                <include name="click"/>
            </run>
        </groups>-->
        <classes>
            <!--<class name="org.example.Alerts"/>
            <class name="org.example.CalendarException"/>
            <class name="org.example.HandleTable"/>-->
            <class name="example.JsonLocatorsRead">
                <!--<methods>
                    <include name="fillForm"/>
                </methods>-->
            </class>
        </classes>
    </test>
</suite>